section.h-section__intro {
  width: 100%;
  min-height: 479px;
  background-color: #D8D8D8;
  display: grid;
  grid-template-rows: 338px auto;
  align-items: center;

  .bottom__text {
    display: grid;
    grid-row-start: 2;
    justify-self: end;
    align-self: start;
    padding-right: 110px;
    line-height: 20px;
    text-align: center;

    h1 {
      color: white;
      font-size: 18px;
      font-weight: 300;
      margin: 0;
    }

    .bottom__cta {
      justify-self: end;
      margin-top: 25px;
    }
  }

  @media screen and (max-width: 450px) {
    min-height: 320px;
    grid-template-rows: 189px auto;
    .bottom__text {
      justify-self: center;
      padding-left: 17px;
      padding-right: 17px;
      h1 {
        margin: 0;
      }
      .bottom__cta {
        justify-self: center;
        margin-top: 24px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .bottom__text {
      justify-self: center;
      padding-left: 17px;
      padding-right: 17px;
      h1 {
        margin: 0;
      }
      .bottom__cta {
        justify-self: center;
      }
    }
  }
}

section.h-section__context {
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 70px;
  padding-bottom: 100px;

  .context__paragraph {
    font-weight: 300;
    font-size: 17px;
    line-height: 26px;
    color: #4A4A4A;

    &.first {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-column-end: span 2;
      max-width: 60%;
    }
    &.second {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: span 2;
      text-align: right;
      max-width: 60%;
      justify-self: end;
    }
    &.third {
      grid-row-start: 3;
      grid-column-start: 1;
      grid-column-end: span 2;
      max-width: 60%;
    }
  }

  .context__paragraph > h2 {
    font-weight: 800;
    font-size: 22px;
    color: #4A4A4A;
    &.highlighted {
      font-size: 28px;
      color: $brand-color;
    }
  }
}

section.h-section__quote {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding-left: 109px;
  padding-right: 109px;
  padding-top: 48px;
  padding-bottom: 48px;
  font-weight: 300;
  line-height: 28px;
  color: white;
  font-size: 19px;
  background-color: #4A4A4A;
}

section.h-section__brands {
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(145px, max-content));
  grid-auto-flow: row dense;
  grid-column-gap: 38px;
  grid-row-gap: 50px;
  justify-content: center;
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 100px;
  padding-bottom: 100px;

  .brand {
    background-color: #D8D8D8;
    width: 100%;
    height: 100px;
  }
}

section.h-section__contact {
  width: 100%;
  background-color: $brand-color;
  display: grid;
  grid-template-columns: 50% 50%;

  .contact__info {
    font-size: 16px;
    font-weight: 300;
    color: white;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 58px;
    padding-bottom: 70px;
    text-align: center;
    line-height: 24px;
    h2 {
      font-size: 16px;
      font-weight: 700;
    }
    span {
      text-transform: uppercase;
      padding-right: 5px;
    }
    .contact__social {
      padding-top: 25px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(36px, min-content));
      justify-content: center;
    }
    .contact__social > img {
      justify-self: center;
      width: 16px;
      height: 16px;
    }
  }

  .contact__location {
    position: relative;
    grid-column-start: 2;
    .mapouter {
      height: 100%;
      width: 100%;
    }
    .gmap_canvas {
      overflow: hidden;
      background: none;
      height: 100%;
      width: 100%;
    }
  }
  .contact__location:before {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $brand-color;
    opacity: 0.4;
    pointer-events: none;
  }
}

@media screen and (max-width: 800px) {
  section > * {
    line-height: 24px;
  }

  section.h-section__context {
    grid-template-columns: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 31px;
    padding-bottom: 50px;

    .context__paragraph {
      text-align: center;
      font-size: 16px;
      &.first {
        max-width: 100%;
      }
      &.second {
        max-width: 100%;
        justify-self: center;
        text-align: center;
      }
      &.third {
        max-width: 100%;
      }
    }
    .context__paragraph > h2 {
      font-weight: 800;
      font-size: 18px;
      color: #4A4A4A;
      &.highlighted {
        font-size: 20px;
        color: $brand-color;
      }
    }
  }

  section.h-section__quote {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  section.h-section__brands {
    max-width: 100%;
    grid-auto-flow: column;
    overflow-x: scroll;
    grid-template-columns: repeat(auto-fill, minmax(131px, 1fr));
    justify-content: start;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

    .brand {
      width: 131px;
      height: 86px;
    }
  }

  section.h-section__contact {
    grid-template-rows: repeat(2, minmax(353px, 1fr));
    grid-template-columns: 100%;

    .contact__info {
      width: 100%;
      grid-column-start: 1;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 30px;
      padding-bottom: 31px;
      span {
        text-transform: uppercase;
        padding-right: 5px;
      }
      .contact__social {
        padding-top: 25px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(36px, min-content));
        justify-content: center;
      }
      .contact__social > img {
        justify-self: center;
        width: 16px;
        height: 16px;
      }
    }
    .contact__location {
      width: 100%;
      grid-column-start: 1;
    }
  }
}