body {
  background-color: #D8D8D8; 
}

section.h-section__intro {
  width: 100%;
  min-height: 479px;
  background-color: #D8D8D8;
  display: grid;
  grid-template-rows: 338px auto;
  align-items: center;

  .bottom__text {
    display: grid;
    grid-row-start: 2;
    justify-self: end;
    align-self: start;
    padding-right: 110px;

    h1 {
      color: white;
      font-size: 18px;
      font-weight: 300;
    }

    .bottom__cta {
      justify-self: end;
    }
  }

  @media screen and (max-width: 1024px) {
    .bottom__text {
      justify-self: center;
      padding-left: 17px;
      padding-right: 17px;
      .bottom__cta {
        justify-self: center;
      }
    }
  }
}