menu.ph-menu {
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  position: fixed;
  display: flex;
  overflow: hidden;
  z-index: 10;
  opacity: 0.97;
  transition: all 0.3s ease-out;
  background-color: #4A4A4A;
  transform: translateY(-100%);
  visibility: hidden;

  &.visible {
    transform: translateY(0px);
    visibility: visible;
  }

  .menu__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    ul {
      list-style: none;
      text-transform: uppercase;
      font-size: 50px;
      font-weight: 900;
      text-align: center;
      padding: 0;
      line-height: 84px;

      a > li {
        color: white;
        &.highlighted {
          color: $brand-color;
        }
      }
    }
  }

  // .header__menu {
  //   position: absolute;
  //   top: 22px;
  //   right: 50px;
  //   cursor: pointer;
  //   justify-self: center;
  //   z-index: 20;

  //   $bar-width: 30px;
  //   $bar-height: 2px;
  //   $bar-spacing: 8px;

  //   &.menu-wrapper {
  //     width: $bar-width;
  //     height: $bar-height + $bar-spacing * 2;
  //     cursor: pointer;

  //     .hamburger-menu,
  //     .hamburger-menu:after,
  //     .hamburger-menu:before {
  //       width: $bar-width;
  //       height: $bar-height;
  //     }

  //     .hamburger-menu {
  //       position: relative;
  //       transform: translateY($bar-spacing);
  //       background: rgba(255, 255, 255, 1);

  //       &.topbar {
  //         position: absolute;
  //         bottom: 16px;
  //         transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  //       }
  //       &.bottombar {
  //         position: absolute;
  //         bottom: 0px;
  //         transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  //       }
        
  //       &.animate {
  //         background: rgba(255, 255, 255, 0); 
  //       }
  //       &.animate > .topbar {
  //         position: absolute;
  //         top: 0;
  //         transform: rotate(45deg);
  //         transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  //       }
  //       &.animate > .bottombar {
  //         position: absolute;
  //         bottom: 0;
  //         transform: rotate(-45deg);
  //         transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  //       }
  //     }
  //   }
  // }
}

@media screen and (max-width: 400px) {
  menu.ph-menu > .menu__wrapper > ul {
    font-size: 30px;
    line-height: 54px;
  }
}
