header {
  position: absolute;
  display: grid;
  width: 100%;
  grid-template-rows: 31px auto;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #D8D8D8;

  .header__wrapper {
    width: 100%;
    display: grid;
    grid-row-start: 2;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(350px, 0.5fr));
    grid-auto-columns: auto;
    align-items: center;

    .header__logo {
      justify-self: left;
    }
    .header__logo > img {
      max-width: 249px;
    }

    .header__links {
      display: grid;
      grid-column-start: 4;
      grid-template-columns: minmax(150px, 1fr) auto auto auto;
      align-items: center;
      justify-content: right;

      .header__social {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(36px, 36px));
        justify-content: right;
        padding-right: 45px;
      }
      .header__social > img {
        justify-self: center;
        width: 16px;
        height: 16px;
      }

      .header__link {
        justify-self: center;
        &.blog {
          padding-right: 35px;
        }
        &.contact {
          padding-right: 75px;
        }
      }
      .header__link > a {
        text-transform: uppercase;
        color: white;
      }

      .header__menu {
        justify-self: center;
      }
    }

  }
}

@media screen and (max-width: 1060px) {
  header > .header__wrapper > .header__links > .header__social {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
  }
  header > .header__wrapper {
    grid-template-columns: min-content auto;
  }
  header > .header__wrapper > .header__logo > img {
    max-width: 210px;
  }
  header > .header__wrapper > .header__links > .header__link {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  header > .header__wrapper > .header__logo > img {
    max-width: 150px;
  }
}
