<header>
  <div class="header__wrapper">
    <div class="header__logo">
      <a href="{{ site.baseurl }}{% link index.md %}"><img class="inline-svg" src={{ site.images.logo_svg | relative_url }} /></a>
    </div>
    <div class="header__links">
      <div class="header__social">
        <a href="#"><img class="inline-svg" src={{ site.images.social.facebook_logo | relative_url }} /></a>
        <a href="#"><img class="inline-svg" src={{ site.images.social.twitter_logo | relative_url }} /></a>
        <a href="#"><img class="inline-svg" src={{ site.images.social.youtube_logo | relative_url }} /></a>
        <a href="#"><img class="inline-svg" src={{ site.images.social.linkedin_logo | relative_url }} /></a>
      </div>
      <div class="header__link blog">
        <a href="#">blog</a>
      </div>
      <div class="header__link contact">
        <a href="#">contacto</a>
      </div>
      <div id="menu-button" class="header__menu menu-wrapper">
        <div id="hamburger-menu" class="hamburger-menu">
          <div class="hamburger-menu topbar"></div>
          <div class="hamburger-menu bottombar"></div>
        </div>	  
      </div>
    </div>
  </div>
</header>

{% include menu.html %}