<header>
  <div class="header__wrapper">
    <div class="header__logo">
      <img src={{ site.images.logo | relative_url }} />
    </div>
    <div class="header__social">
      <img src={{ site.images.social.facebook_logo | relative_url }} />
      <img src={{ site.images.social.twitter_logo | relative_url }} />
      <img src={{ site.images.social.youtube_logo | relative_url }} />
      <img src={{ site.images.social.linkedin_logo | relative_url }} />
    </div>
    <div class="header__link">
      <a href="#">blog</a>
    </div>
    <div class="header__link">
      <a href="#">contacto</a>
    </div>
    <div class="header__menu">
      <img src={{ site.images.menu | relative_url }} />
    </div>
  </div>
</header>