---
layout: blog_category 
---

<script>
  window.addEventListener('load', function() {
    document.querySelector('body').classList.add('blog');
    var interval = setInterval(function() {
      if ((document.getElementById('Capa_2'))) {
        fixNavbarScrolled();
        clearInterval(interval);
      }
    }, 100);
  });
</script>

{% for post in site.categories[page.category] %}
  {% include cards/post.html featured_image=post.featured_image_thumbnail featured_image_alt=post.title post_title=post.title post_category=post.category post_category_url=post.category_url post_date=post.date post_author=post.author post_excerpt=post.excerpt post_link=post.url  %}
{% endfor %}
