---
title: Product Hackers
layout: default
---

<section class="h-section__intro">
  <div class="bottom__text">
    <h1>{{ site.data.home.section_intro.cta_text }}</h1>
    <div class="bottom__cta">
      {% include buttons/cta.html text="únete" link="#" %}
   </div>
  </div>
</section>

<section class="h-section__context">
  <div class="context__paragraph intro">
    <h2>{{ site.data.home.section_context.who.title }}</h2>
    <p>{{ site.data.home.section_context.who.text }}</p>
  </div>
  {% for block in site.data.home.section_context.blocks %}
    {% assign modulo = forloop.index | modulo: 2 %}
    {% if modulo == 1 %}
      {% assign style = 'left' %}
    {% elsif modulo == 0 %}
      {% assign style = 'right' %}
    {% endif %}
    <div class="{{ "context__paragraph" | append: " " | append: style }}">
      <h2 class="highlighted"><span class="text">{{ block.title }}</span></h2>
      <div class="panel">
        {% for paragraph in block.text %}
          <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</section>

<section class="h-section__quote">
  <div class="quote__paragraph">
    <p>“El camino del Hacker es un acercamiento al desarrollo que conlleva la mejora e iteración continuas. 
        Los Hackers creemos que todo se puede mejorar, y que este proceso nunca termina”.</p>
  </div>
</section>

<section class="h-section__brands">
  <div class="brand"></div>
  <div class="brand"></div>
  <div class="brand"></div>
  <div class="brand"></div>
  <div class="brand"></div>
  <div class="brand"></div>
  <div class="brand"></div>
  <div class="brand"></div>
  <div class="brand"></div>
  <div class="brand"></div>
  <div class="brand"></div>
</section>

<section class="h-section__contact">
  <div class="contact__info">
    <p>
        Si quieres contactar o enviarnos tu cv puedes hacerlo en este email
        <h2>info@producthackers.es</h2>
    </p>
    <br />
    <br />
    <p>Si quieres saber más sobre nosotros puedes seguir nuestra actividad en redes sociales y en nuestro blog</p>
    <p class="contact__social">
      <span>blog</span>
      <img src={{ site.images.social.facebook_logo | relative_url }} />
      <img src={{ site.images.social.twitter_logo | relative_url }} />
      <img src={{ site.images.social.youtube_logo | relative_url }} />
      <img src={{ site.images.social.linkedin_logo | relative_url }} />
    </p>
  </div>
  <div class="contact__location">
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=product%20hackers&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
      </div>
  </div>
</section>
