---
title: Product Hackers
layout: default
---

<section class="h-section__intro">
  <div class="bottom__text">
    <h1>Transformamos negocios creando productos que la gente quiere usar</h1>
    <div class="bottom__cta">
      {% include buttons/cta.html text="únete" link="#" %}
   </div>
  </div>
</section>

<section class="h-section__context">
  <div class="context__paragraph first">
    <h2>¿Producto digital, para qué?</h2>
    <p>I have hinted that I would often jerk poor Queequeg from between the whale and the ship—where he would occasionally fall, from the incessant rolling and swaying of both. But this was not the only jamming jeopardy he was exposed to. Unappalled by the massacre made upon them during the night.</p>
  </div>
  <div class="context__paragraph second">
    <h2 class="highlighted">¿Por qué?</h2>
    <p>So strongly and metaphysically did I conceive of my situation then, that while earnestly watching his motions.</p>
  </div>
  <div class="context__paragraph third">
    <h2 class="highlighted">¿Cómo?</h2>
    <p>So strongly and metaphysically did I conceive of my situation then, that while earnestly watching his motions.</p>
  </div>
</section>

<section class="h-section__quote">
  <div class="quote__paragraph">
    <p>“El camino del Hacker es un acercamiento al desarrollo que conlleva la mejora e iteración continuas. 
        Los Hackers creemos que todo se puede mejorar, y que este proceso nunca termina”.</p>
  </div>
</section>

<section class="h-section__brands">
  <div class="brand"></div>
  <div class="brand"></div>
  <div class="brand"></div>
  <div class="brand"></div>
  <div class="brand"></div>
  <div class="brand"></div>
  <div class="brand"></div>
  <div class="brand"></div>
  <div class="brand"></div>
  <div class="brand"></div>
  <div class="brand"></div>
</section>

<section class="h-section__contact">
  <div class="contact__info">
    <p>
        Si quieres contactar o enviarnos tu cv puedes hacerlo en este email
        <h2>info@producthackers.es</h2>
    </p>
    <br />
    <br />
    <p>Si quieres saber más sobre nosotros puedes seguir nuestra actividad en redes sociales y en nuestro blog</p>
    <p class="contact__social">
      <span>blog</span>
      <img src={{ site.images.social.facebook_logo | relative_url }} />
      <img src={{ site.images.social.twitter_logo | relative_url }} />
      <img src={{ site.images.social.youtube_logo | relative_url }} />
      <img src={{ site.images.social.linkedin_logo | relative_url }} />
    </p>
  </div>
  <div class="contact__location">
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=product%20hackers&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
      </div>
  </div>
</section>

{% include footer.html %}