---
title: Product Hackers - Únete
layout: default
---

<section class="h-section__join">
  <div class="intro__text">
    <h1 class="hero__text">{{ site.data.unete.section_join.hero_text }}</h1>
    <p>{{ site.data.unete.section_join.text }}</p>
  </div>
</section>

<section class="h-section__about">
  <div class="big__text">
    <h1 class="hero__text">{{ site.data.unete.section_about.hero_text }}</h1>
  </div>
  <div class="about__text">
    <p class="first">{{ site.data.unete.section_about.first_p }}</p>
    <p class="second">{{ site.data.unete.section_about.second_p }}</p>
  </div>
</section>

{% if site.data.unete.section_hiring.available_jobs %}
<section class="h-section__hiring">
  <h1 class="hero__text">{{ site.data.unete.section_hiring.hero_text }}</h1>
  <div class="hiring__card">
    {% for job in site.data.unete.section_hiring.available_jobs %}
      <div class="job">
        <div class="overlay">
          <p class="name">{{ job.name }}</p>
          <span class="plus__icon"><img src="assets/images/plus_icon.svg" alt="plus icon" /></span>
        </div>
        <img src="{{ site.baseurl }}assets/images/jobs/{{ job.image }}" alt="" />
      </div>
    {% endfor %}
  </div>
</section>
{% endif %}

<section class="h-section__dontworry">
  <h1 class="hero__text">¿No encuentras tu vacante ideal? ¡No te preocupes!</h1>
  <p>The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.</p>
  <p class="email">info@producthackers.es</p>
</section>